.backgroundImage {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
    display: grid;
    place-items: center;
    justify-content: center;
    color: white;
    background-image: url("../../main/assets/labIcon.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.logoutBtnSpace {
    position: absolute;
    top: 20px;
    left: calc(100% - 120px);
    margin-left: auto;
}

.logoutBtn {
    width: 100px;
    height: 40px;
    background: white;
    color: black;
    transition: 0.2s;
    border-radius: 10px;
}

.logoutBtn:hover {
    transition: 0.2s all ease-in-out;
    background: black;
    color: white;
}

.board {
    background-color: rgba(0, 0, 0, 0.66);
    height: 90vh;
    width: 90vw;
    padding: 10px;
    border-radius: 0 20px 0 20px;
}

.boardTitle, .boardDescription {
    text-align: center;
}

.boardTitle {
    color: white;
    font-size: 2rem;
}

.boardDescription {
    color: white;
    font-size: 1.6rem;
}

.boardBody {
    display: flex;
    justify-content: space-around;
    height: 80%;
    padding: 10px;
    position: relative;
    top: 30px;
}

.boardLeft {
    width: 100%;
}

.boardRight {
    width: 100%;
}

.boardLeftForm {
    color: white;
    font-family: "Roboto Light", sans-serif;
}

.formLabel {
    display: flex;
}

.formInput {
    color: black;
    background: lightyellow;
    width: 180px;
    transition: 1s;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 1px;
}

.formInput:hover {
    transition: all 0.1s ease-in-out;
    width: 220px;
}

.formButtonSpace {
    display: flex;
    justify-content: center;
}

.formButton {
    background: whitesmoke;
    margin: 0 2px;
    width: 120px;
    height: 40px;
    transition: 0.2s;
    border-radius: 10px;
    color: black;
}

.formButton:hover {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    color: darkslategray;
}

.formButtonHistory {
    background: #fd2727;
    margin: 0 2px;
    width: 120px;
    height: 40px;
    transition: 0.2s;
    border-radius: 10px;
    color: white;
}

.formButtonHistory:hover {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    background: black;
    color: white;
}

.formButtonTable {
    transition: 0.2s;
    border-radius: 10px;
    margin: 0 2px;
    width: 120px;
    height: 40px;
    background: white;
    color: black;
}

.formButtonTable:hover {
    transition: 0.2s all ease-in-out;
    border-radius: 20px;
    background: black;
    color: white;
}

.pcMonitorContainer {
    background-image: url("../../main/assets/pcMonitorImage.svg");
    opacity: 90%;
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: 1;
    position: relative;
    top: 40px;
    transform: rotateX(15deg) rotateY(30deg);
}

.pcMonitorText {
    padding: 10px;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-in {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.table-gallery-container {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    animation: fade-in 0.3s ease-in;
}

.fade-out {
    animation: fade-out 0.3s ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
