.errorMessage {
    color: #7ee808;
    font-weight: bold;
}

.errorPageBackground {
    position: absolute;
    z-index: -999999;
    height: 100vh;
    width: 100vw;
}

.css-typing {
    background: rgba(128, 128, 128, 0.25);
    padding: 10px;
    font-size: 1.2rem;
}

.css-typing p {
    font-family: "Courier", serif;
    white-space: nowrap;
    overflow: hidden;
}

.css-typing p:nth-child(1) {
    width: 100%;
    -webkit-animation: type 1s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type2 1s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end);
    animation: type3 1s steps(20, end);
    -webkit-animation-delay: 1s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
    width: 100%;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 1s steps(20, end), blink .2s step-end infinite alternate;
    -webkit-animation-delay: 1s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
    }
    100% {
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
    }
    100% {
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
    }
    100% {
        opacity: 1;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes type4 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type4 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}